.Rproj.user
.Rhistory
.RData
False Dropouts.xls
False Transfers.xls
January UIAS report.xlsx
Simultaneous Enrollments.xls
False Dropouts.xls
*.xls
March UIAS Report.xlsx
README.html
~$March UIAS Report.xlsx
Demographics.csv
May UIAS Report.xlsx
SE.02 - Concurrent (Other) Enrollment.xlsx
170.02 - Enrolled in same district.xlsx
DS.01 - Enrolled in different district.xlsx
enrollment.csv
June UIAS Report.xlsx
SIRS-701 Unique Identifer Audit System Detail.xlsx
UIAS Report by category old format.xlsx
Use Case Type.docx
UIAS Report by category old format.xlsxTRUE
